.background--imgCater {
    background-image: url(/images/cateringImage.jpg);
    background-size: cover;
}

.grid--cater {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 30% repeat(5, 1fr);
}

.h--cater {
    grid-column: 2/3;
    justify-content: center;
    text-align: center;
}

.p--caterDesc {
    grid-column: 2/3;
    justify-content: center;
    text-align: center;

    @media only screen and (max-width: 1000px) {
        grid-column: 1 / span 3;
    }
}

.form--name {
    grid-column: 1/2;
    grid-row: 3/4;
}

.form--email {
    grid-column: 2/3;
    grid-row: 7/8;
}
