//general grid for the social media
.grid--socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

// //grid for footer desktopview
// .grid--desktop {

//     @media only screen and (min-width: 800px) {
//         display: grid;
//         grid-tempalte-columns: 1fr 1fr 1fr;
//         grid-template-rows: 1fr 1fr 1fr;
//     }

// }

// // placment for "Get in touch" desktop
// .footerHeading--desktop {
//     grid-column: 1/2;
//     grid-row: 1/2;
// }

// .footerPara--desktop {
//     grid-column: 3/4;
//     grid-row: 1/4;
// }

//icons for social media
.facebookIcon {
    grid-column: 1/2;
}

.instagramIcon {
    grid-column: 2/3;
}

.twitterIcon {
    grid-column: 3/4;
}
