//grid for the header section
.grid--nav {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    min-height: 68px;
    align-items: center;
}


//placement of the logo in the header

.logo_nav {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 15%;
    width: 100%;
}
