.background--imgMenu {
    background-image: url(/images/orderImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid--menuPage {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr;
}

.p--formalDinners {
    grid-column: 1/2;
    grid-row: 1/2;
}

.p--informalDinners {
    grid-column: 2/3;
    grid-row: 2/3;
}

.p--boxedLunches {
    grid-column: 1/2;
    grid-row: 3/4;
}

// .ul--formalDinners {
//     grid-column: 1/2;
//     grid-row: 1/2;
// }

.img--formalDinners {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 50%;
}

.img--informalDinners {
    grid-column: 1/2;
    grid-row: 2/3;
}

.img--boxedLunches {
    grid-column: 1/2;
    grid-row: 3/4;
}
