//setting up the initial grid
.container {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-rows: auto;

}

.containerTwo {
    position: relative;
}


.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.coverImage {
    grid-column: 1/4;
    grid-row: 1/2;
}

.intro__heading-text {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
}

.intro__bodyText {
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 0;
}

.button__orderNow {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 0;
    padding: 5px;
}

.button__catering {
    grid-column: 2/3;
    grid-row: 5/6;
    justify-self: center;
}

.button__news {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
}

.button__info {
    grid-column: 2/3;
    grid-row: 7/8;
    justify-self: center;
}

.testmonial__text {
    grid-column: 2/4;
    grid-row: 8/9;

}

.testmonial__name {
    grid-column: 2/3;
    grid-row: 9/10;
    justify-self: center;

}
