//background image for intro text
.container {
    background-image: url(../images/coverPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

//grid for the header section
.nav_grid {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

//general grid for the page
.pageGrid {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 1em;
    margin-right: 1em;

    img {
        margin-top: 1em;
    }
}

//placement of the logo in the header
.logo_nav {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin-left: 15px;
}

//placment of the menu button
.menu_button {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}

//placement of the introText
.intro__heading-text {
    grid-column: 1/2;
    grid-row: 1/2;
}

//placment of the body text
.intro__bodyText {
    grid-column: 2/4;
    grid-row: 1/2;
}

//placement of the order now button
.button__orderNow {
    grid-column: 3/4;
    grid-row: 1;
    margin: none;
    padding: 5px;
    position: absolute;
    left: 60%;

}

//placment for background image for cateringbutton
.cateringImage {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

//button for catering
.button__catering {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
}

//placment for background image for newsImage
.newsImage {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
}

//button for news
.button__news {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 5px;
}

.orderImage {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
}

//button for news
.button__order {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 5px;
}

//placment for the rextmonial text
.testmonial__text {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 30px;

}

//placment for the textmonial names
.testmonial__name {
    grid-column: 2/3;
    justify-self: center;
}

//making the label flexbox
.labelGrid {
    display: flex;
}
