//background image for intro text
.container {
    background-image: url(../images/coverPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

//grid for the header section
.grid--nav {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

//general grid for the page
.grid--page {
    align-items: center;
    display: grid;
    justify-items: center;
    margin-left: 1em;
    margin-right: 1em;

    img {
        margin-top: 1em;
    }

    @media only screen and (min-width: 800px) {
        dispay: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-column-gap: 1em;
        margin-bottom: 1em;

    }
}

//general grid for the social media
.grid--socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

//placement of the logo in the header

.logo_nav {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 15px;
    width: 100%;
}

//placment of the menu button
.menu_button {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}

//placement of the introText
.intro__heading-text {
    grid-column: 1/2;
    grid-row: 1/2;
}

//placment of the body text
.intro--bodyText {
    grid-column: 2/4;
    grid-row: 1/2;
}

//placement of the order now button
.button--orderNow {
    grid-column: 3/4;
    grid-row: 1;
    left: 60%;
    margin: none;
    padding: 5px;
    position: absolute;
    display: inline-block;
}

//placment for background image for cateringbutton
.cateringImage {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

//button for catering
.button--catering {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
}

//placment for background image for newsImage
.newsImage {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;

    @media only screen and (min-width: 800px) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

//button for news
.button--news {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 5px;

    @media only screen and (min-width: 800px) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.orderImage {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;

    @media only screen and (min-width: 800px) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}

//button for news
.button--order {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 5px;

    @media only screen and (min-width: 800px) {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}

//placment for the textmonial text
.para--testmonial {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 30px;

}

//placment for the textmonial names
.para--testmonialNames {
    grid-column: 2/3;
    justify-self: center;
}


//making the label flexbox
.labelGrid {
    display: flex;
}

//icons for social media
.facebookIcon {
    grid-column: 1/2;
}

.instagramIcon {
    grid-column: 2/3;
}

.twitterIcon {
    grid-column: 3/4;
}
