// Variables
$display-nav: 520px;

// JS action classes
[data-visible="false"] {
    display: none;
}

.site-header {
    display: flow-root;
}

.site-nav {
    $top-height: 68px;

    &__trigger {
        position: absolute;
        top: 0.9em;
        right: 0.9em;


        &[aria-expanded="true"] {

            .menu-icon__line {
                $yValue: 10px;
                $deg: 45deg;

                &:nth-child(1) {
                    transform: translateY($yValue) rotate($deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-$yValue) rotate(-$deg);
                }
            }
        }

        @media screen and (min-width: $display-nav) {
            display: none;
        }
    }

    &__list {

        @media screen and (max-width: ($display-nav - 1px)) {
            // background-color: rgba(rgb(0, 0, 0), 0.75);
            background-color: black; // @feedback I am trying to make the background of the links solid black or at least not do the funky thing in which my text is takes presedent visually over the links (the background seems to only cover the image not the text). Also there is the corner of that one button that is so much brighter then the rest and I am fairly confused by that.
            flex-direction: column;
            height: 0;
            position: absolute;
            top: $top-height;
            right: 0;
            left: 0;
            width: 100vw;
            margin: 0;

            &[data-visible="true"] {
                animation: expand 0.3s ease-in-out forwards; // see the expand animation below
                // this changes the height and opacity of the mobile menu
                display: flex;
            }
        }

        @media screen and (min-width: $display-nav) {
            display: flex;
        }
    }

    &__list-item {
        align-items: center;
        display: flex;
        flex: 1 0 auto;

        @media screen and (max-width: ($display-nav - 1px)) {
            justify-content: center;
        }
    }

    &__link {
        background: none;
        color: white;


        &:hover {
            opacity: 1;
            text-decoration-color: #F28705;

        }

        @media screen and (max-width: ($display-nav - 1px)) {
            color: white;
            font-size: 200%;
        }
    }

    @keyframes expand {
        from {
            height: 0;
            opacity: 0;
        }

        to {
            height: calc(100vh - #{$top-height});
            opacity: 1;
        }
    }
}

.menu-icon {
    &__line {
        background-color: #F28705;
        height: 2px;

        &:nth-of-type(even) {
            //  <-- add this to replace it
            margin-top: 8px;
            margin-bottom: 8px;
        }

        transition: all 0.3s ease-in-out;
        width: 42px;
    }
}

// Base styles
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    position: relative;
}
