h1,
h2,
p {
    font-family: 'Open Sans',
        sans-serif;

}

h1 {
    color: #F28705;

    @media only screen and (min-width: 800px) {
        font-size: 4em;
    }
}

h2 {

    @media only screen and (min-width: 800px) {
        font-size: 2em;
    }
}

p {

    line-height: 150%;


    @media only screen and (min-width: 800px) {
        font-size: 125%;
    }

}


.background__orange {
    background-color: #F28705;
}

.para--testmonialSource {
    display: block;
    text-align: center;
    padding-top: 5%;
}
