h1,
h2,
p {
    font-family: 'Open Sans',
        sans-serif;
}


.textColor__white {
    color: white;
}

.background__orange {
    background-color: #F28705;
}

.background__black {
    background: rgba(0, 0, 0, .5);
    border-radius: 25px;
    padding-left: 2%;
    width: 200px;
}

.paraLeading {
    line-height: 150%
}

.testSource {
    display: block;
    text-align: center;
    padding-top: 5%;
}
