.u-brandOrange {
    color: #F28705;
}

.u-fontWeightBold {
    font-weight: 700;
}

.u-fontWeightReg {
    font-weight: 400;
}

.u-black {
    background-color: black;
}

.u-white {
    color: white;
}

.u-transparentBlack {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 75px;
    padding: 5%;
    position: relative;
}

.u-marginNone {
    margin: 0;
}

.footerPadding {
    padding: 5%;
}


a {
    background-color: #F28705;
    border-radius: 25px;
    color: black;
    // cursor: pointer;
    font-family: 'Open Sans',
        sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
