.u-brandOrange {
    color: #F28705;
}

.u-fontWeightBold {
    font-weight: 700;
}

.u-fontWeightReg {
    font-weight: 400;
}

.u-black {
    background-color: black;
}

.u-white {
    color: white;
}

.u-transparentBlack {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 75px;
    padding: 5%;
    position: relative;
}

.u-marginNone {
    margin: 0;
}

.button {
    background-color: #F28705;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

span {
    display: block;
    text-align: center;
}

.homePhotoButton {
    width: 50%;
    height: 50%;
    text-align: center;
    position: relative;
}
