@import "libraries/normalize.scss",
"utilityClasses",
"grid",
"images",
"text";


.container {
    background-image: url(../coverPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
