<footer class="u-black footerPadding">
<h2 class="u-brandOrange u-marginNone">Get In Touch</h2>

    <form action="">
  <label> Name</label> 
  <input  class="boxSize" type="text" name="Name" value="">
  <label>Email</label>
  <input class="boxSize" type="email" name="Email" value="">
  <label>Message</label>
  <input class="boxSize"type="text" name="Message" value="">
  <input type="submit" value="Submit">
</form> 

<div class="grid--socialmedia>
<p class="u-brandOrange u-marginNone">Follow Us On</p>

<img class="imagehalf"src="/images/facebookicon.svg" alt="Facebook icon.">

<img src="images/instagramicon.svg" alt="Instagram icon.">

<img src="images/twittericon.svg" alt="Twitter icon">
</div>

    </footer>
