<footer class="u-black footerPadding">
	<h2 class="u-brandOrange u-marginNone">Get In Touch</h2>
	<p class="u-white">Contact us for any questions about catering, the events we’re at, biscuits in general or just to
		say hello. Use the form or contact us directly via <a class="a__email" href="mailto:info@blacksaucekitchen.com">info@blacksaucekitchen.com</a>.
		We’re based in Baltimore,
		Maryland, but you can find us at events in
		a wide range around our home base.</p>
	<form action="">
		<div class="formBoxGrid">
			<label for="name">Name</label>
			<input class="formBoxPosition" type="text" id="Name" value="" required>
		</div>
		<div class="formBoxGrid">
			<label for="email">Email</label>
			<input class="formBoxPosition" type="email" id="Email" value="" required>
		</div>
		<label for="message">Message</label>
		<textarea id="styled" id="Message"></textarea>
		<input type="submit" value="Submit" required>
	</form>
	<!-- I wrapped your social media bits in their own section -->
	<section class="desktop-social">
		<p class="u-brandOrange">Follow Us On</p>
		<div class="grid--socialMedia">

			<img class="iconResize" src="/images/facebookicon.svg" alt="Facebook icon.">

			<img class="iconResize" src="/images/instagramicon.svg" alt="Instagram icon.">

			<img class="iconResize" src="/images/twittericon.svg" alt="Twitter icon.">
		</div>
	</section>
</footer>
