<footer class="u-black footerPadding">
<h2 class="u-brandOrange u-marginNone">Get In Touch</h2>

<p class="u-white para--leading">Contact us for any questions about catering, the events we’re at, biscuits in general or just to say hello. Use the form or contact us directly via:
email: info@blacksaucekitchen.com
We’re based in Baltimore, Maryland, but you can find us at events in a wide range around our home base.</p>

    <form action="">
  <div class="formBoxGrid">
    <label>Name</label> 
    <input class="formBoxPosition" type="text" name="Name" value="">
  </div>
  <div class = "formBoxGrid">
    <label>Email</label>
    <input class="formBoxPosition" type="email" name="Email" value="">
  </div>
  <label>Message</label>
  <textarea id="styled" name="Message"></textarea>
  <input type="submit" value="Submit">
</form>

<p class="u-brandOrange ">Follow Us On</p>

<div class="grid--socialMedia" >

<img class="facebookIcon iconResize" src="/images/facebookicon.svg" alt="Facebook icon.">

<img class="instagramIcon iconResize"src="images/instagramicon.svg" alt="Instagram icon.">

<img class="twitterIcon iconResize"src="images/twittericon.svg" alt="Twitter icon">
</div>

    </footer>
