<div class="grid--nav u-black u-marginNone">
<img class="logo_nav" src="/images/logo.png" alt="blacksauce logo">

<nav class="wrapper site-nav grid--nav">
		<button id="js-nav-trigger" aria-controls="js-site-nav" aria-expanded="false" class="u-button-reset site-nav__trigger">
			<span aria-hidden="true" class="menu-icon">
				 <div class="menu-icon__line"></div>
				 <div class="menu-icon__line"></div>
				 <div class="menu-icon__line"></div>
			</span>
			<p class="u-brandOrange u-marginNone"> Menu <p>
		</button>
		<ul id="js-site-nav" class="u-list-reset site-nav__list" aria-hidden="false" data-visible="false">
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Home </a></li>
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Catering</a></li>
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Biscuit Talk</a></li>
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">News</a></li>
			{# @feedback - I am having trouble positioning the links on the desktop view, I tried creating a class for the link and then appling it both to the li and then the a but neither seemed to work. #}
		</ul>
  
  </div>
