<div class="nav_grid u-black u-marginNone">
<img class="logo_nav" src="" alt="blacksauce logo">

<nav class="wrapper site-nav">
		<button id="js-nav-trigger" aria-controls="js-site-nav" aria-expanded="false" class="u-button-reset site-nav__trigger">
			<span aria-hidden="true" class="menu-icon">
				 <div class="menu-icon__line"></div>
				 <div class="menu-icon__line"></div>
				 <div class="menu-icon__line"></div>
			</span>
			Menu
		</button>
		<ul id="js-site-nav" class="u-list-reset site-nav__list" aria-hidden="false" data-visible="false">
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Link 1</a></li>
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Link 2</a></li>
			<li class="site-nav__list-item"><a href="#" class="u-block site-nav__link">Link 3</a></li>
		</ul>
  
  </div>
