---
layout: layouts/blank.njk
title: Slideshow
---

<h1>Slideshow</h1>

{% include "_slider-icons.html" %}

{% import "_slideshow-slide.njk" as slide %}

<section id="js-slideshow" class="slideshow u-mx-auto">
    <div class="slideshow-container u-mx-auto">
        <ul class="slideshow__list u-list-reset u-fit">
            {# filename, caption, alt #}

            {{ slide.item("404Page","broken plate","A blue plate that is broken in several peices.") }}
            {{ slide.item("cateringImage","catering image"," juicy slab of
            beef on a biscut that is set on a wooden table.") }}
            {{ slide.item("coverPhoto","cover photo","two biscuits on a wooden table.") }}
            {{ slide.item("orderImage", "logo"," blacksauce kitchen logo.") }}

        </ul>
    </div>
</section>

{% include "_slideshow-controls.html" %}
